.icon {
    position: fixed;
    font-size: 30px;
    color: green;

    margin: 0;
    left: 30px;
}

div.menu-wrapper {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-right: 2px solid rgb(182, 182, 182);

    top: 0;
    left: 0;
    
    width: 300px;
    height: 100vh;

    z-index: 12;

    animation: slideIn 0.3s ease-out;
}

#ford-logo {
    margin-left: 15px;
    margin-top: 15px;
    padding: 5px;
    width: 250px;
    height: auto;
}

div.buttons-wrapper {
    margin-top: 15px;
}

div.page-button {
    display:flex;
    flex-direction: column;
    background-color: rgb(192, 192, 192);
}

div.page-button:hover {
    cursor: pointer;
    display:flex;
    flex-direction: column;
    background-color: rgb(168, 168, 168);
}

div.page-button p {
    margin-left: 15px;
}

.background {
    position: fixed;
    top: 0;
    inset: 0;

    z-index: 11;

    background-color: rgba(139, 139, 139, 0.7);
    animation: fadeIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}