* {
    font-family: Arial, Helvetica, sans-serif;
}

app-menu {
    display: flex;
    margin-top: 20px;
    top: 0;
}

img {
    display: flex;
    justify-content: center;

    padding-top: 5%;
    max-width: 100%;
    max-height: auto;
}