* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(0, 85, 197);
}

.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.info-squares {
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
    flex-shrink: 1;
}

.info-square {
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(248, 248, 248);

    width: clamp(130px, 18vw, 250px);
    height: clamp(100px, 13vw, 175px);

    aspect-ratio: 250 / 175;
    min-width: 0;

    text-align: start;
    box-shadow: 2px 2px 5px rgb(177, 177, 177);
}

.info-square h3 {
    height: 23%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    border-bottom: 1px solid rgb(194, 194, 194);
    background-color: rgb(236, 236, 236);
    font-size: clamp(12px, 1.3vw, 18px);
}

.info-square label {
    font-size: clamp(16px, 2.5vw, 30px);
    font-weight: bold;
    color: rgb(0, 110, 255);
}

.info-square label,
.info-square p {
    margin-left: 10px;
}

.info-square select {
    width: 80%;
    max-width: 180px;
    height: 35px;
    box-sizing: border-box;
    margin: 45px auto 0;
    display: block;
}

.car-image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    flex: 1;
}

.car-image img {
    max-width: 30%;
    max-height: 40vh;
    object-fit: contain;
}